/* 
----------------------------------------------------------
nav bar
----------------------------------------------------------
*/



#nav-hero-container {
    background-color: #A8D4DD;
}

#navbar-brand {
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.65;
    font-size: 1.45rem;
}

nav a.nav-link {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.05rem;
}

nav a.nav-link:hover {
    border: 2px solid #3B4A4D;
}

nav a.nav-link:hover > .nav-pills .nav-link.active {
    border: none;
}

.nav-pills .nav-link.active {
    margin-top: 3px;
    padding: 5px 12px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #A8D4DD;
}



@media(max-width: 365px) {

    #navbar-brand {
        font-size: 1.2rem;
    }

    button.navbar-toggler {
        height: 24px;
        width: 33px;
        
    }

    span.navbar-toggler-icon {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 23px;
        top: 34px;
    }

}



/* 
----------------------------------------------------------
carousel
----------------------------------------------------------
*/



#carousel-container {
    margin-top: 61px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 1px solid white;
}

.carousel-indicators .active {
    background-color: #fff;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}



/* 
----------------------------------------------------------
services
----------------------------------------------------------
*/



#services {
    background-color: #fff;
}

div.col-3.pt-5 {
    justify-content: space-between;
}

#services img.img-fluid {
    object-fit: cover;
    max-height: 221.75px;
}

#services h4.py-5 {
    font-weight: 700;
    font-size: 1.3rem
}

#services p {
    font-weight: 500;
    font-size: 1.1rem;
}



/* 
----------------------------------------------------------
portfolio
----------------------------------------------------------
*/



#portfolio {
    background-color: #97D0A3;
}

#portfolio p.text-light {
    max-width: 575px;
    justify-content: center;
    font-size: 1.1rem;
    opacity: 0.575;
}

a.nav-link.text-uppercase.text-transparent {
    color: #fff;
}

a.nav-link.text-uppercase.text-transparent:hover {
    border: 1.5px solid #fff;
}

a.nav-link.active.text-uppercase.text-transparent {
    background-color: #fff;
    font-weight: 800;
    color: #97D0A3;
}

.portfolio-img {
    object-fit: cover;
    height: 350px;
}



/* 
----------------------------------------------------------
blog
----------------------------------------------------------
*/



div#blog.container-fluid.py-5 {
    background-color: rgba(128, 128, 128, 0.13);
}

.blog-img-1 {
    object-fit: contain;
    height: 335px;
}

#blog-article {
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}

#blog-button-1 {
    background-color: #97D0A3;
}

#blog-team {
    background-color: #DFB6C6;
}

div.container.text-center.text-light p.mx-auto {
    max-width: 417px;
    opacity: 0.68;
}

.team-member-name {
    font-weight: 500;
}

h6.text-uppercase.text-center {
    font-weight: 600;
}

p.lead.text-center {
    font-size: 1.2rem;
}

i.fab.fa-facebook-f::before {
    padding: 8px 12px;
    border-radius: 50%;
    background-color: #2841A8;
    color: white;
}

i.fab.fa-tumblr.pl-4::before {
    padding: 8px 12px;
    border-radius: 50%;
    background-color: #2AA6EE;
    color: white;
}

i.fab.fa-pinterest.fa-2x.pl-4::before {
    background-color: white;
    color: #CA264C;
    vertical-align: middle;
    font-size: 2.1rem;
}




#blog-recent-posts {
    background-color: #B4D6D9;
}

.post-name {
    font-weight: 500;
    font-size: 1.6rem;
}

h6.text-uppercase.text-center {
    font-weight: 400;
}

p.recent-post-p.lead.text-center {
    font-size: 1rem;
}